@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  width: 230px;
  z-index: 1;
  top: 240px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:45px;
  font-weight: bold
}
.sidenav a {
  padding: 10px 30px 25px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #3366cc;
  display: block;
}
.sidenav a:hover {
  color: #064579;
}
.button1 {
background:transparent;
border:none;
outline:none;
display:block;
height:200px;
width:200px;
cursor:pointer;
}
#divprocura{
  background-color:white;
  border:solid 2px;
  border-radius:15px;
  border-color:#3366cc;
  width:300px;
  position:absolute;
  left:460px;
}
#txtprocura{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:16px;
  border:none;
  height:32px;
  width:260px;
}
table{
  position: absolute;
  margin-left: 450px;
  top: 252px;
}
th{
  border: 1px solid black;
  height:30px;
  color: #3366cc;
  background: #eee;
}
.nd{
text-align: left;
}
.tablecab{
 background-color:#3366cc;
 color: white;
 border: 1px solid black;
 height:30px;
}
.desc{
  width: 700px;
  height:50px;
  z-index: 1;
  top: 210px;
  left: 455px;
  overflow-x: hidden;
  padding: 8px 0;
  position:absolute;
  color:#3366cc;
  font-size: 18px;
  font-weight: bold;
}
.side{
  width: 300px;
  z-index: 1;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:150px;
  font-size: 18px;
  color:#3366cc;
  font-weight: bold;
}
.createdoc{
	width: 230px;
  z-index: 1;
  top: 240px;
  left: 100px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin-left:50px;
  margin-top:45px;
  font-weight: bold;
  color:#3366cc;
  font-size:140%;
}
.tablerod{
  border: 0px solid white;
  height:30px;
  color: white;
  background: white;
}.button2{
  background: #eee;
  overflow-x: hidden;
  padding: 12px 0;;
  color:#3366cc;
  font-size:100%;
  font-weight: bold;
  width: 180px;
}